## things learnt

In [1]:
x = 'Hello World'

### strings and their characteristics

In [2]:
x.upper()

'HELLO WORLD'

In [3]:
x.lower()

'hello world'

In [4]:
x[2:]

'llo World'

In [5]:
x[-1]

'd'

In [6]:
x[1:5]

'ello'

In [7]:
x.split()

['Hello', 'World']

In [8]:
x.split('o')

['Hell', ' W', 'rld']

In [10]:
x.endswith('d')

True

### string formatting

In [1]:
print('The {} {} {}'.format('quick','fox','brown'))

The quick fox brown

In [3]:
print('The {0} {2} {1}'.format('quick','fox','brown'))

The quick brown fox

In [4]:
name = 'Mehul'
age = 24

In [5]:
print(f"Hello, I'm {name} and my age is {age}")

Hello, I'm Mehul and my age is 24

In [6]:
result = 35/6

In [7]:
print('The result is {r}'.format(r=result))

The result is 5.833333333333333

In [9]:
print('The formatted result is {r:1.2f}'.format(r=result))

The formatted result is 5.83

### lists

In [18]:
my_list = ['one','two','three']
another_list = ['four','five']

In [11]:
my_list[1]

'two'

In [14]:
my_list[0:2]

['one', 'two']

In [19]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [20]:
my_list[0] = 'change'

In [21]:
my_list

['change', 'two', 'three']

In [22]:
my_list.sort()

In [23]:
my_list

['change', 'three', 'two']

In [24]:
my_list.append('yass')
my_list

['change', 'three', 'two', 'yass']

In [25]:
my_list.pop()

'yass'

In [26]:
my_list

['change', 'three', 'two']

In [27]:
my_list.reverse()
my_list

['two', 'three', 'change']

In [30]:
nested_list = [1,2,[3,4]]
nested_list

[1, 2, [3, 4]]

In [32]:
nested_list[2][0:]

[3, 4]

### dictionaries

In [33]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [34]:
prices_lookup

{'apple': 2.99, 'oranges': 1.99, 'milk': 5.8}

In [35]:
prices_lookup['oranges']

1.99

#### using lists and dictionaries

In [36]:
k = [0,1,2, [3,4], {'k1':100}]

In [37]:
k[4]['k1']

100

In [38]:
#adding and reassinging values
prices_lookup['mango'] = 10.34
prices_lookup['milk'] = 3.45

In [39]:
prices_lookup

{'apple': 2.99, 'oranges': 1.99, 'milk': 3.45, 'mango': 10.34}

In [40]:
prices_lookup.keys()

dict_keys(['apple', 'oranges', 'milk', 'mango'])

In [41]:
prices_lookup.values()

dict_values([2.99, 1.99, 3.45, 10.34])

In [42]:
prices_lookup.items()

dict_items([('apple', 2.99), ('oranges', 1.99), ('milk', 3.45), ('mango', 10.34)])

### tuples

In [43]:
t = (1,2,3)
type(t)

tuple

In [44]:
t = ('one',2)

In [45]:
t[0]

'one'

In [46]:
t[-1]

2

In [47]:
t.index(2)

1

In [48]:
t = ('one','one',2)

In [49]:
t.count('one')

2

### sets

In [50]:
myset = set()

In [51]:
myset.add(1)

In [52]:
myset

{1}

In [54]:
myset.add(2)

In [56]:
myset.pop()

1

In [58]:
myset

{2}

In [59]:
mylist = [1,2,4,5,4,3,2,3,4,1]

In [60]:
set(mylist)

{1, 2, 3, 4, 5}

In [61]:
set('Mississippi')

{'M', 'i', 'p', 's'}

### files

In [62]:
%%writefile myfile.txt
Hello, writing into a text file
Second line of the text
Finishing the file

Writing myfile.txt

In [64]:
#to get the path of your notebook

In [65]:
pwd

'/Users/mehulnagpurkar/JupyterNotebook'

In [66]:
myfile = open('myfile.txt')

In [67]:
myfile.read()

'Hello, writing into a text file\nSecond line of the text\nFinishing the file'

In [68]:
myfile.seek(0)

0

In [69]:
contents = myfile.readlines()

In [70]:
contents

['Hello, writing into a text file\n',
 'Second line of the text\n',
 'Finishing the file']

In [71]:
myfile.close()

In [72]:
with open('myfile.txt') as newfile:
    new_contents = newfile.read()

In [73]:
new_contents

'Hello, writing into a text file\nSecond line of the text\nFinishing the file'

In [74]:
with open('newfile.txt',mode='w') as f:
    f.write('This is a new file. \nWriting it to test the mode functionality.')

In [75]:
with open('newfile.txt',mode='r') as f:
    print(f.read())

This is a new file.
Writing it to test the mode functionality.

In [77]:
with open('newfile.txt',mode='a') as f:
    f.write('\nAdded a new line.')

In [78]:
with open('newfile.txt',mode='r') as f:
    print(f.read())

This is a new file.
Writing it to test the mode functionality.
Added a new line.