## Statements

In [6]:
loc = 'Bank'

if loc == 'Auto Shop':
    print ('Cars 4 in the making.')
elif loc == 'Bank':
    print ('Money is a social construct.')
else: 
    print ('Where are you now?')

Money is a social construct.

In [14]:
my_list = [1,2,3,4,5,6,7,8,9]

In [18]:
for num in my_list:
    # Check if even
    if num % 2 == 0:
        print (f'Number is even: {num}')
    else:
        print ('{n} is odd '.format(n = num))

1 is odd
Number is even: 2
3 is odd
Number is even: 4
5 is odd
Number is even: 6
7 is odd
Number is even: 8
9 is odd

In [19]:
for letter in 'Hello World':
    print (letter)

H
e
l
l
o

W
o
r
l
d

In [20]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

for item in mylist:
    print (item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [22]:
#tuple unpacking

for a,b,c in mylist:
    print (b)

2
5
8

In [23]:
mylist.append((10,11,12))
mylist

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [24]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [25]:
#tuple unpacking for dictionaries

for key,value in d.items():
    print (key)
    print (value)

k1
1
k2
2
k3
3

In [26]:
for value in d.values():
    print (value)

1
2
3

### while loops

In [28]:
x = 0

while x < 3:
    print (f'The value of x is {x}')
    x += 1
else:
    print ('\nx is greater than 3')

The value of x is 0
The value of x is 1
The value of x is 2

x is greater than 3

#### break, continue and pass

In [32]:
item = [1,2,3]

for i in item:
    pass

print ('Do nothing at all, placeholder')

Do nothing at all, placeholder

In [31]:
mystring = 'Mehul'

In [33]:
# see the difference between continue and break

for letter in mystring:
    if letter == 'h':
        continue
    print(letter)

M
e
u
l

In [34]:
for letter in mystring:
    if letter == 'h':
        break
    print(letter)

M
e

### Useful operators

In [36]:
# range

range_list = list(range(0,11,3))
range_list

[0, 3, 6, 9]

In [38]:
# enumerate {hint - typle unpacking}

word = 'Waka'
for item in enumerate(word):
    print (item)

(0, 'W')
(1, 'a')
(2, 'k')
(3, 'a')

In [2]:
# zip {only zips till the shortest list}

list1 = [1,2,3,4]
list2 = ['Fra','Bra','Ger','Esp']

list(zip(list1,list2))

[(1, 'Fra'), (2, 'Bra'), (3, 'Ger'), (4, 'Esp')]

In [3]:
for index,value in list(zip(list1,list2)):
    print ('The {} position is goes to {} '.format(index,value))

The 1 position is goes to Fra
The 2 position is goes to Bra
The 3 position is goes to Ger
The 4 position is goes to Esp

In [43]:
# random library 

from random import shuffle, randint

new_list = list(range(10,100,1))

lowest = min(new_list)
highest = max(new_list)

In [44]:
print (lowest,highest)

10 99

In [45]:
shuffle(new_list)

In [48]:
# display first 5 objects in the list
new_list[0:5]

[95, 73, 66, 10, 45]

In [49]:
randint(0,40)

11

In [51]:
43 in new_list

True

In [52]:
# input from user

result = input('What is your age?')

What is your age?24

In [53]:
print (f'result is {result}')
print (f'type is {type(result)}')

result is 24
type is <class 'str'>

In [55]:
result = int(input('What is your age?'))

What is your age?24

In [57]:
print ('result is {}'.format(result))
print ('type is {}'.format(type(result)))

result is 24
type is <class 'int'>

#### list comprehensions

In [5]:
mystring = 'hello'

In [6]:
mylist1 = [letter for letter in mystring]
mylist1

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist1 = [num for num in range(0,11)]
# getting square of numbers
mylist2 = [num**2 for num in range(0,11)]
# getting even numbers
mylist3 = [num for num in range(0,11) if num%2==0]

In [9]:
mylist1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
mylist2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
mylist3

[0, 2, 4, 6, 8, 10]

In [13]:
# To find the temperature in farenheit
celcius = [0,10,34,22.3]

farenheit = [((9/5)*temp + 32) for temp in celcius]
farenheit

[32.0, 50.0, 93.2, 72.14]

In [22]:
x = 10

even = x if x%2 == 0 else (x+1)

In [23]:
even

10