# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min((a,b))
    else:
        return max((a,b))

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [6]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [29]:
def animal_crackers(text):
    mylist = text.split()
    if mylist[0][0].lower() == mylist[1][0].lower():
        return True
    else:
        return False

In [30]:
# Check
animal_crackers('Levelheaded Llama')

True

In [31]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [32]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20 or sum((n1,n2))==20:
        return True
    else:
        return False

In [33]:
# Check
makes_twenty(20,10)

True

In [34]:
# Check
makes_twenty(2,3)

False

In [35]:
# Check
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [61]:
def old_macdonald(name):
    mylist = []
    for index,value in enumerate(name):
        if index in (0,3):
            mylist.append(value.upper())
        else:
            mylist.append(value)
            
    return ''.join(mylist)

In [62]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [168]:
def master_yoda(text):
    mylist = text.split()
    return ' '.join(mylist[::-1])

# yodalist = []
#    for word in mylist[::-1]:
#        yodalist += word+" "
#    
#    return ''.join(yodalist)

In [169]:
# Check
master_yoda('I am home')

'home am I'

In [170]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [128]:
def almost_there(n):
    if abs(100-n) <= 10 or abs(200-n) <= 10:
        return True
    else:
        return False

In [129]:
# Check
almost_there(104)

True

In [130]:
# Check
almost_there(150)

False

In [131]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) â†’ True
    has_33([1, 3, 1, 3]) â†’ False
    has_33([3, 1, 3]) â†’ False

In [151]:
def has_33(nums):
    #print(list(item for item in zip(nums,nums[1:])))
    for x,y in zip(nums,nums[1:]):
        if x == y == 3:
            return True
    return False

In [152]:
# Check
has_33([1, 3, 3])

True

In [153]:
# Check
has_33([1, 3, 1, 3])

False

In [154]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [157]:
def paper_doll(text):
    mylist = []
    for letter in text:
        mylist.append(letter*3)
    return ''.join(mylist)

In [158]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [159]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [18]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif (a == 11 or b == 11 or c == 11):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [19]:
# Check
blackjack(5,6,7)

18

In [20]:
# Check
blackjack(9,9,9)

'BUST'

In [21]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [46]:
def summer_69(arr):
    result = subtract = sixth_index = ninth_index = 0
    for index,value in enumerate(arr):
        if value == 6:
            sixth_index = index
        elif value == 9:
            ninth_index = index
            break
    result = sum(arr[0:])
    if sixth_index:
        subtract = sum(arr[sixth_index:ninth_index+1])
    return result - subtract

In [47]:
# Check
summer_69([1, 3, 5])

9

In [48]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [49]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [119]:
def spy_game(nums):
    mylist = []
    for num in nums:
        if num == 0 or num == 7:
            mylist.append(num)
    if mylist[0] == 0 and mylist[1] == 0 and mylist[2] == 7:
        return True
    else:
        return False

In [120]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [121]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [122]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [136]:
def count_primes(num):
    count = 0
    prime = 0
    for i in range(2,num):
        j = 2
        while j < i:
            #print (f'j is {j}')
            if i%j == 0:
                count += 1
                #print (f'count {count}')
            j += 1
            if count == 1:
                prime += 1
            count = 0               
    return prime

In [137]:
# Check
count_primes(100)

276

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [154]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [162]:
print_big('e')

*****
*
*****
*
*****

## Great Job!