_@ Jose Angel Velasco (javelascor@indra.es)_


_(C) Indra - Digital Labs | IA_ - _January 2021_

<img src="images/header_S2R.png">

In [ ]:
import pandas as pd
from sqlalchemy.engine import create_engine
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'notebook'
import plotly.graph_objects as go

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://gpadmin:pivotal@10.0.2.6:5432/gpadmin

In [ ]:
ddbb_settings = {}
ddbb_settings['driver'] = 'postgresql'
ddbb_settings['user_'] = 'gpadmin'
ddbb_settings['pass_'] = 'pivotal'
ddbb_settings['host'] = '10.0.2.6'
ddbb_settings['port'] = '5432'
ddbb_settings['ddbb'] = 'gpadmin'

engine = create_engine("{}://{}:{}@{}:{}/{}".format(ddbb_settings['driver'],
                                                    ddbb_settings['user_'],
                                                    ddbb_settings['pass_'],
                                                    ddbb_settings['host'],
                                                    ddbb_settings['port'] ,
                                                    ddbb_settings['ddbb']))

# Queries library

## Query slice by time and apply filter

In [ ]:
%%sql

select 
    *
from
    sae_interbus."SAE"
where
    ser_fecha_inicio_exp>='2019-03-14'
and 
    ser_fecha_inicio_exp<='2019-03-15'
and
    veh_matricula = '7519-KCC'
and 
    lin_codigo = 352

## Query as dataframe

In [ ]:
query = """
SELECT
    "PXP_FECHA",
    "PXP_OCUPACION",
    "PXP_RETRASO",
    "PXP_VIAJEROS_SUBEN"
FROM
    sae_interbus."INTERBUS_OCUPACION" 
WHERE
    "PXP_FECHA" > '2019-03-12 23:59:59' AND "PXP_FECHA" < '2019-03-13 06:00:00'
ORDER BY
    "PXP_FECHA" asc;
"""
engine.execute(query)
df = pd.read_sql_query(query, engine)
df.head()

## Query with daily timeseries

In [ ]:
%%sql
SELECT
    count(*),
    "fecha_venta"::varchar(7)
FROM
    interbus.ventas_cruzadas
GROUP BY
    "fecha_venta"::varchar(7)
ORDER BY
    "fecha_venta"::varchar(7);

## Query with inner join

In [ ]:
%%sql
SELECT
    count(*) as total_sales,
    C1.zna_descripcion AS zona_origen,
    C2.zna_descripcion AS zona_destino
FROM
    interbus.ventas AS A
INNER JOIN
    interbus.paradas AS PAR1
ON 
    A.origen = PAR1.par_codigo_maexbic
INNER JOIN
    interbus.zonas AS C1
ON
    PAR1.par_idzona = C1.zna_id
INNER JOIN
    interbus.paradas AS PAR2
ON
    A.destino = PAR2.par_codigo_maexbic
INNER JOIN
    interbus.zonas as C2
ON
    PAR2.par_idzona = C2.zna_id
WHERE
    origen <> 0 AND destino <> 0 -- ventas con destino u origen
GROUP BY
    zona_origen,
    zona_destino
ORDER BY
    total_sales
DESC

## Query with inner join double

In [ ]:
%%sql
SELECT
  count(*),
  PAR1.par_descripcion AS parada_origen,
  PAR2.par_descripcion AS parada_destino
FROM
    interbus.ventas AS A
INNER JOIN
    interbus.paradas AS PAR1 ON A.origen = PAR1.par_codigo_maexbic
INNER JOIN
    interbus.paradas AS PAR2 ON A.destino = PAR2.par_codigo_maexbic
WHERE
    origen <> 0 AND destino <> 0
GROUP BY
    parada_origen,
    parada_destino
ORDER BY
    count(*) 
DESC;

## Query with inner join simple

In [ ]:
%%sql
SELECT
    count(*),
    paradas.latitud,
    paradas.longitud
FROM
    interbus.ventas
INNER JOIN
    interbus.paradas 
ON
    ventas.origen = paradas.par_codigo_maexbic
GROUP BY
    paradas.latitud,
    paradas.longitud
ORDER BY
    count(*) desc;

## Query with hourly time series

In [ ]:
%%sql
SELECT
	COUNT(*) as ventas,
	codigo_linea, 
	tarifa,
	lin_desc,
	par_id,
	par_descripcion,
	tar_nomb,
	date_trunc('hour', V."fecha_venta")::timestamp as fecha
FROM
	"interbus".ventas as V
INNER JOIN
	"interbus".lineas as L
ON
	L.lin_idlin = V.codigo_linea
INNER JOIN
	"interbus".paradas as P
ON
	P.par_id = V.origen
INNER JOIN
	"interbus".tarifas as T
ON
	T.tar_codi::varchar = V.tarifa
GROUP BY
	codigo_linea, fecha, tarifa, lin_desc, par_descripcion, tar_nomb, par_id

In [ ]:
```
SELECT
	COUNT(*) as ventas,
	codigo_linea, 
	lin_desc,
	date_trunc('hour', ventas."fecha_venta")::timestamp as fecha
FROM
	"interbus".ventas
INNER JOIN
	"interbus".lineas
ON
	CAST(lineas.lin_idlin AS varchar) = ventas.codigo_linea
GROUP BY
	codigo_linea, fecha, lin_desc
 ```

In [ ]:
```
SELECT
	COUNT(*) as ventas,
	codigo_linea, 
	tarifa,
	lin_desc,
	par_id,
	tar_nomb,
	par_descripcion,
	zna_descripcion,
	zna_id,
	date_trunc('hour', ventas."fecha_venta")::timestamp as fecha
FROM
	"interbus".ventas
INNER JOIN
	"interbus".lineas
ON
	lineas.lin_idlin::varchar = ventas.codigo_linea
INNER JOIN
	"interbus".paradas
ON
	paradas.par_id = ventas.origen
INNER JOIN
	"interbus".tarifas
ON
	tarifas.tar_codi::varchar = ventas.tarifa
INNER JOIN
	"interbus".zonas
ON
	zonas.zna_id = paradas.par_idzona
GROUP BY
	codigo_linea,
	fecha,
	tarifa,
	lin_desc,
	par_descripcion,
	tar_nomb,
	par_id,
	zna_descripcion,
	zna_id

In [ ]:
 ```
 SELECT
	COUNT(*) as ventas,
	zna_descripcion,
	date_trunc('hour', V."fecha_venta")::timestamp as fecha
FROM
	"interbus".ventas AS V
INNER JOIN
	"interbus".paradas AS PAR ON PAR.par_id = V.origen
INNER JOIN
	"interbus".zonas AS Z ON Z.zna_id = PAR.par_idzona
GROUP BY
	fecha,
	zna_descripcion
ORDER BY
	fecha
 ```

In [ ]:
 ```
 SELECT
	COUNT(*) as ventas,
	zna_descripcion,
	date_trunc('hour', V."fecha_venta")::timestamp as fecha
FROM
	"interbus".ventas AS V
INNER JOIN
	"interbus".paradas AS PAR ON PAR.par_id = V.origen
INNER JOIN
	"interbus".zonas AS Z ON Z.zna_id = PAR.par_idzona
GROUP BY
	fecha,
	zna_descripcion
ORDER BY
	zna_descripcion,
	fecha

In [ ]:
 ```
DROP TABLE IF EXISTS "interbus".ventas_por_linea;
CREATE TABLE "interbus".ventas_por_linea as (
SELECT
	COUNT(*) as ventas,
	lin_desc
FROM
	"interbus".ventas AS V
INNER JOIN
	"interbus".lineas AS LIN ON LIN.lin_idlin::varchar = V.codigo_linea
GROUP BY
	lin_desc
ORDER BY
	ventas
DESC
)

In [ ]:
 ```
 SELECT zona_destino AS zona_destino,
       zona_origen AS zona_origen,
       sum(count) AS "SUM(count)"
FROM
  (SELECT count(*) ,
          C1.zna_descripcion AS zona_origen ,
          C2.zna_descripcion AS zona_destino
   FROM interbus.ventas AS A
   INNER JOIN interbus.paradas as PAR1 ON A.origen = PAR1.par_codigo_maexbic
   inner join interbus.zonas as C1 on PAR1.par_idzona = C1.zna_id
   INNER JOIN interbus.paradas AS PAR2 ON A.destino = PAR2.par_codigo_maexbic
   inner join interbus.zonas as C2 on PAR2.par_idzona = C2.zna_id
   where origen <> 0
     and destino <> 0
   group by zona_origen,
            zona_destino) AS expr_qry
GROUP BY zona_destino,
         zona_origen
ORDER BY "SUM(count)" DESC
LIMIT 1000;
 ```

In [ ]:
 ```
DROP TABLE IF EXISTS interbus.sales_OD_by_zone;
CREATE TABLE interbus.sales_OD_by_zone AS(
SELECT zona_destino AS zona_destino,
       zona_origen AS zona_origen,
       sum(count) AS total
FROM
  (SELECT count(*) ,
          C1.zna_descripcion AS zona_origen ,
          C2.zna_descripcion AS zona_destino
   FROM interbus.ventas AS A
   INNER JOIN interbus.paradas as PAR1 ON A.origen = PAR1.par_id
   INNER JOIN interbus.zonas as C1 on PAR1.par_idzona = C1.zna_id
   INNER JOIN interbus.paradas AS PAR2 ON A.destino = PAR2.par_id
   INNER JOIN interbus.zonas as C2 on PAR2.par_idzona = C2.zna_id
   WHERE origen <> 0
     and destino <> 0
   group by zona_origen,
            zona_destino) AS expr_qry
GROUP BY zona_destino,
         zona_origen
ORDER BY total
DESC
)

In [ ]:
 
 ```
DROP TABLE IF EXISTS interbus.sales_OD_by_zone;
CREATE TABLE interbus.sales_OD_by_zone AS(
SELECT zona_destino AS zona_destino,
       zona_origen AS zona_origen,
       sum(count) AS total,
       (total/sum(total) OVER())*100 as total2
FROM
  (SELECT count(*) ,
          C1.zna_descripcion AS zona_origen ,
          C2.zna_descripcion AS zona_destino
   FROM interbus.ventas AS A
   INNER JOIN interbus.paradas as PAR1 ON A.origen = PAR1.par_id
   INNER JOIN interbus.zonas as C1 on PAR1.par_idzona = C1.zna_id
   INNER JOIN interbus.paradas AS PAR2 ON A.destino = PAR2.par_id
   INNER JOIN interbus.zonas as C2 on PAR2.par_idzona = C2.zna_id
   WHERE origen <> 0
     and destino <> 0
   group by zona_origen,
            zona_destino) AS expr_qry
GROUP BY zona_destino,
         zona_origen
ORDER BY total
DESC

In [ ]:
 ```
SELECT
    sum(sales)/count(sales) AS avg_sales_per_month
FROM
(SELECT
	count(*) AS sales,
    date_trunc('month', V."fecha_venta")::timestamp as mes
FROM
	interbus.ventas AS V
GROUP BY
	mes
ORDER BY 
	mes) AS sub_query
 ```

In [ ]:
```
 DROP TABLE IF EXISTS interbus.sales_month;
CREATE TABLE interbus.sales_month AS(
SELECT
	count(*) AS sales,
    date_trunc('month', V."fecha_venta")::timestamp as mes
FROM
	interbus.ventas AS V
GROUP BY
	mes
ORDER BY 
	mes)
 ```

In [ ]:
 ```
 SELECT
	idtitulo,
	count(*) as total
FROM 
	interbus."ventas"
GROUP BY
	idtitulo
ORDER BY 
	total
DESC

SELECT
	kilometros,
	count(*) as total
FROM 
	interbus."ventas"
GROUP BY
	kilometros
ORDER BY 
	total
DESC
```

In [ ]:
### 
```
SELECT
	numero_serie_billete,
	count(*) as total
FROM 
	interbus."ventas"
GROUP BY
	numero_serie_billete
ORDER BY 
	total
DESC
```

In [ ]:
```
SELECT
	matricula,
	codigo_linea,
	count(*) as total,
	par_descripcion as parada_origen,
	lin_desc as linea
FROM 
	interbus."ventas" as V
INNER JOIN interbus."paradas" AS P ON V.origen = P.par_id
INNER JOIN interbus."lineas" AS L ON V.codigo_linea::int = L.lin_idlin
GROUP BY 
	matricula,
	codigo_linea,
	parada_origen,
	linea

ORDER BY 
	total
DESC
```

In [ ]:
```
SELECT
	DISTINCT(latitud) as var
FROM
	interbus."paradas"
GROUP BY
	var
ORDER BY
	var
DESC
```

In [ ]:
```
SELECT
	count(*) as total
FROM
	interbus."paradas"
--WHERE par_y = 0
--WHERE par_codpostal is NULL	
--WHERE par_codpostal = 'NULL'	
WHERE par_codpostal = '0'
```

In [ ]:
```
SELECT COUNT(var) FROM (SELECT
	DISTINCT(id) as var
FROM
	interbus."ventas"
GROUP BY
	var
ORDER BY
	var
DESC) AS SUBQUERY
```

In [ ]:
```
SELECT
	DISTINCT(zna_descripcion) as var,
	count(*) as ventas
FROM
	interbus."zonas"
GROUP BY
	var
ORDER BY
	var
	--ventas
ASC

In [ ]:
```
SELECT COUNT(var) FROM (
SELECT
	DISTINCT(zna_descripcion) as var,
	count(*) as ventas
FROM
	interbus."zonas"
GROUP BY
	var
ORDER BY
	var
	--ventas
ASC
) AS SUBQUERY
```

In [ ]:
```
--SELECT COUNT(var) FROM (
SELECT
	DISTINCT("ITI_IDSENTIDO") as var,
	count(*) as ventas
FROM
	sae_interbus."INTERBUS_OCUPACION"
GROUP BY
	var
ORDER BY
	var
	--ventas
ASC
--) AS SUBQUERY
```

In [ ]:
```
SELECT "PXP_VIAJEROS_SUBEN", numbilletes, fecha_venta
FROM sae_interbus."INTERBUS_OCUPACION" as S inner join interbus."ventas" as T 
on S.lin_codigo = T.codigo_linea

In [ ]:
```
SELECT "PXP_VIAJEROS_SUBEN", numbilletes, fecha_venta
FROM sae_interbus."INTERBUS_OCUPACION" as S inner join interbus."ventas" as T 
on S.lin_codigo = T.codigo_linea
```

In [ ]:
```
select
	count(*) AS sales,
	"PXP_VIAJEROS_SUBEN",
	date_trunc('day', T."fecha_venta")::timestamp as fecha
from
	sae_interbus."INTERBUS_OCUPACION" as S inner join interbus."ventas" as T 
on S.lin_codigo = T.codigo_linea
group by 
	"PXP_VIAJEROS_SUBEN",
order by 
	fecha
```