<a href="https://colab.research.google.com/github/patofw/imf_master/blob/master/Google_Colab/FunWithStrings_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




# Manipulación de cadenas de texto (strings)

El tratamiento de datos de texto es uno de las áreas con mayor desarrollo en la ciencia de datos, sobre todo con el 'boom' que ha tenido el procesamiento del lenguaje natural (NLP) en diferentes áreas de la inteligencia artificial. 
Python, en su base tiene varias herramientas que nos pueden ayudar a tratar cadenas de texto. En este tutorial veremos las más comunes, pero hay mucnas más en la documentación oficial.   <a href="https://docs.python.org/3.2/library/stdtypes.html#string-methods">Python</a>.

## Formato de las cadenas

Antes de empezar con la limpieza de cadenas de texto, quiero comentarles que Python permite añadir variables a tus cadenas de texto de múltiples formas. Esto es especialmente útil cuando queremos que nuestros prints se actualicen con una variable previamente declarada. Hay varias formas de haecerlo. Por ejemplo:

In [0]:
# Esta es la opción más "pytónica" y elegante
var1 = "Patricio"
var2 = "España"
print(f"Hola mi nombre es {var1} y vivo en {var2}")

Hola mi nombre es Patricio y vivo en España

In [0]:
# utilizando comas para separar 
print("Hola mi nombre es",var1,"y vivo en", var2)

Hola mi nombre es Patricio y vivo en España

In [0]:
print("Hola mi nombre es {} y vivo en {}".format(var1,var2))

Hola mi nombre es Patricio y vivo en España

# Tratamiento de Texto

En muchos casos vamos a recibir el texto en una lista de elementos. Python nos permite unir los elementos de texto con la función join.

In [0]:
" ".join(["No", "quiero", "estar en una lista"])

'No quiero estar en una lista'

In [0]:
# Podemos agregar cualquier separador entre las palabras en medio de las comillas del join
"--".join(["A", "B", "C"])

'A--B--C'

In [0]:
# Esto solo funcionará con cadénas de texto 
", ".join([1, 2, 3])

TypeError: sequence item 0: expected str instance, int found

In [0]:
# Esto solo funcionará con cadénas de texto 
# Al poner comillas en cada número, las transformamos a texto
", ".join(["1", "2", "3"])

'1, 2, 3'

Hay veces que el texto vendrá con demasiados espacios en blanco. Podemos eliminarlos fácilmente con el método strip()

In [0]:
# Eliminamos todos los espacios de la izquierda y derecha del texto
s = "     This is some text.......      "
s.strip()

'This is some text.......'

In [0]:
# Solo los de la izquierda
s.lstrip()

'This is some text.......      '

In [0]:
# Solo derecha
s.rstrip()

'     This is some text.......'

In [0]:
# También podemos eliminar caracteres 
# Quitemos los puntos de la derecha y los espacios 
s.rstrip(" .")

'     This is some text'

In [0]:
# Strip solo funciona en el inicio y el final de una cadena. 
# No reemplaza lo que está en el medio 
s.strip(" Tt.")

'his is some tex'

## Manipulando las mayúsculas y minúsculas del texto.

In [0]:
# Ponemos mayúscula a la primera letra 
"soy una oración.".capitalize()

'Soy un título.'

In [0]:
# Todo a minúsculas 
"NO QUIERO PARECER QUE ESTOY GRITANDO!!".lower()

'no quiero parecer que estoy gritando!!'

In [0]:
# 'Swap', mayúsculas pasan a minúsculas y viceversa
"this IS a TeST!".swapcase()

'THIS is A tEst!'

In [0]:
# Todas las palabras con la primera mayúscula
"soy un título y quiero verme como tal".title()

'Soy Un Título Y Quiero Verme Como Tal'

In [0]:
# Todo a mayúscula
"yo si quiero parecer como si estuviera gritando!".upper()

'YO SI QUIERO PARECER COMO SI ESTUVIERA GRITANDO!'

# Búsqueda y partición en las cadenas

In [0]:
# Contar cuantas veces hay la aparición de una cadena
"This is a test for counting 'is' in a string.".count("is")

3

In [0]:
# podemos poner un rango (en este caso de la pos 0 a la pos 10 del texto)
"This is a test for counting 'is' in a string.".count("is",0, 10)

2

In [0]:
# Devolver la posición donde encontramos una subcadena 
"Where is the dog?".find("dog")

13

In [0]:
# Si no lo encuentra devuelve -1
"I can only find a cat.".find("dog")

-1

In [0]:
# Qué pasa si tenemos dos veces la subcadena? 
# Devuelve la primera posición 
"Is a bulldog a dog?".find("dog")

9

In [0]:
# Si queremos sacar la última posición utilizamos rfind
"Is a bulldog a dog?".rfind("dog")

15

In [0]:
# Partition divide el texto en una tupla de 3 partes, utilizando como referencia una subcadena
# Dividimos el texto por la subcadena "c" en una tupla de 3 elementos
# Se toma la primera aparición de la cadena como punto de partición
s = "Does this string contain a 'c'?"
s.partition("c")

('Does this string ', 'c', "ontain a 'c'?")

In [0]:
# Otro ejemplo
s.partition("string")

('Does this ', 'string', " contain a 'c'?")

In [0]:
# Si no encuentra la subcadena, igual realiza la partición
s.partition("elementoNoExistente")

("Does this string contain a 'c'?", '', '')

# Reemplazar dentro de una cadena de texto

In [0]:
# Utilizamos reemplazar, donde el primer elemento es la subcadena que 
# queremos reemplazar, y el segundo es la subcadena que usaremos en su lugar
print("Esto no es una pregunta?".replace("?", "!"))

Esto no es una pregunta!

In [0]:
# Podemos también especificar el número de veces que queremos reemplazar 
# el texto. 
s = "One, two, three, two"
print(s.replace("two", "four"))
print(s.replace("two", "four", 1))

One, four, three, four
One, four, three, two

# Split (Separa el texto en una lista)

In [0]:
s = "La película split me encanta"
# Si ejecutamos split sin argumento, separa las cadenas separadas por espacios
words = s.split()
print(words)

['La', 'película', 'split', 'me', 'encanta']

In [0]:
# Podemos también pasarle como argumento, la subcadena que queremos que considere
# para realizar el corte
s = "La película split | me encanta"
lista = s.split(" | ")
print(lista)

['La película split', 'me encanta']

In [0]:
# Otro ejemplo
"1 --- 2 --- 3 --- 4 --- 5".split(" --- ")

['1', '2', '3', '4', '5']

In [0]:
# Podemos hacer algo similar con la función split lines, 
# Que separará texto por líneas 
text= '''First line
Second line

Fourth line'''
text.splitlines()

['First line', 'Second line', '', 'Fourth line']

# Revisando propiedes de las cadenas de texto

In [0]:
# Devuelve True or False si cumple la condición. Por ejemplo
"Python".endswith("on")

True

In [0]:
# Recuerda que las cadenas consideran si el texto está en mayúscula o minuscula
"Python".startswith("py")

False

In [0]:
# Podemos utilizar la función lower que vimos antes para resolverlo
"Python".lower().startswith("py")

True

In [0]:
# También Python nos puede decir si la cadena tiene sólo caracteres alphanuméricos
"123algo".isalnum()

True

In [0]:
# Da falso si no hay algo que no sea letra o número
"123!!".isalnum()

False

In [0]:
# También nos puede decir si la cadena solo tiene números 
"123".isdigit()

True

# Indexación 
Las cadenas se pueden indexar utilizando corchetes como en los elementos iterables. En realidad,una cadena de texto es un elemento iterable...

In [0]:
s = "123456789"
print(s[0:5])

12345

In [0]:
s="8980989089809898"
print(s[-6:-1])

80989

# Challenge 

Me ha llegado la información de unas entradas y tengo que procesarlas. El objetivo es estructurar los datos en una tabla, pero la información llegó con varios problemas... Me podrías ayudar a limpiar y estructurar el mensaje?
Las instrucciones de cómo hacerlo están en el mismo mensaje :)

In [0]:
mensaje = """
* Esta es una línea de comentario y no sirve para nada 
* La estructura de la información relevante es: 
* primeros 5 digitos : id del cliente
* los siguientes 3 digitos: id del canal 
* los siguientes 5 digitos: id del evento
* Una cantidad variable de caracteres inútiles 
* El caracter "-" marca el inicio y final del precio de venta. 
* Necesitamos una tabla que estructure la información descrita anteriormente

Patricio Fernadez, 0123400111111jkljlkjhjkhjkhjkhjkh-25.6-ergfgfggfhgfhgfh
Borja Mon de York, 0123500111111jklfgfglkjhjkhjkhjkhjkh-25.6-rtytry
Patricio Fernandez, 0123400111111jkljassaslkjhjkhjkhjkhjkh-55.3-tyt
Bruce Wayne, 0123800111111jkljlkjhjkhjkhjkhjkh-75.6-asfdsf
Micheal Jordan, 0123600111111jkljlkjhjkhjkhjkhjkh-125.6-fdgdghrtt
Patricio Fernandez, 0123400211111jkljlkjhjkhjkhjkhjkh-28.6-ererggfdv

Elidolo DelEcuador, 0123900111111jkljlkjhjkhjkrrrhjkhjkh-25.6-dsgfdgrd
* Esto es una trampa!
Peter Parker, 0123100511112jkljlkjhjkhjkhjkhjkh-75.2-fgbfb
Ignacio Gonzalez, 0123200111112jkljlkjhjkhjkhjkhjkh-25.6-dgergetg

Clark Kent, 0122200111111jkljlkgfghfhjhjkhjkhjkhjkh-15.8-sdfgfdgdg
Bruce Wayne, 0123800111112jkljlkrrrrjhjkhjkhjkhjkh-35.2-gregregr
Pepe Fulano, 0122200111112jkljlkjhjkhjkhjkhjkh-25.6-wrgrgreg
"""

In [20]:
#step 1 get every line independently
l = mensaje.splitlines()

event_data = {}
customer_data= {}
channel_data = {}


for line in l: # iteramos por línea
    # Filtramos comentarios y líneas vacías
    if line.startswith("*") or len(line)==0: 
        continue
    else:
        # Extraemos información según las instrucciones
        tokens = line.split(",") # separamos el nombre de la info
        name = tokens[0].strip() # el nombre es el primer elemento de la lista
        info = tokens[1].strip() # la data está en el segundo elemento de la lista
        cust_id = info[:5] # de info sacamos los primeros 5 caracterers para el id
        channel_id = info[5:8] # los siguientes 3 son el id del canal 
        event_id = info[8:13] # Luego los siguietnes 3 del evento
        tokens = info.split("-") # Separamos por "-" para el monto pagado
        amount = float(tokens[1]) # lo pasamos a numérico
        
        # Guardamos todo en diccionarios para sacar información 
        # acumulada del análisis. 
        
        if cust_id in customer_data: 
            temp = customer_data[cust_id]
            temp +=amount # sumamos la cantidad de dinero por id de usuario
            customer_data[cust_id] = temp # fijamos el valor por id de usuario
        else:
            customer_data[cust_id] = amount 
        # Hacemos otro diccionario con info del evento, misma lógica 
        if event_id in event_data:
            temp = event_data[event_id]
            temp +=amount
            event_data[event_id] = temp
        else:
            event_data[event_id] = amount
        # Finalmente un diccionario por el canal, también con misma lógica
        if channel_id in channel_data:
            temp = channel_data[channel_id]
            temp +=amount
            channel_data[channel_id] = temp
        else:
            channel_data[channel_id] = amount

# imprimimos la solución
print(channel_data)
print(customer_data)
print(event_data)

# Este print está un poco feo. Podemos hacer DataFrames para visualizarlo mejor

{'001': 435.50000000000006, '002': 28.6, '005': 75.2}
{'01234': 109.5, '01235': 25.6, '01238': 110.8, '01236': 125.6, '01239': 25.6, '01231': 75.2, '01232': 25.6, '01222': 41.400000000000006}
{'11111': 377.70000000000005, '11112': 161.6}

In [41]:
import pandas as pd

# Un DataFrame es básicamente un diccionario, representado en forma tabular
# por lo que para construirlo podemos simplemente ejecutarlo llamando al método pd.DataFrame()

channel_df = pd.DataFrame(channel_data.items(), # items extra las claves y valores del diccionario
                        columns=["id_canal","monto"],
                        )
print(channel_df) 
print("--------------------------")
customer_df = pd.DataFrame(customer_data.items(), # items extra las claves y valores del diccionario
                        columns=["id_cliente","monto"],
                        )
print(customer_df) 
print("--------------------------")
event_df = pd.DataFrame(event_data.items(), # items extra las claves y valores del diccionario
                        columns=["id_evento","monto"],
                        )
print(event_df)
print("--------------------------")

  id_canal  monto
0      001  435.5
1      002   28.6
2      005   75.2
--------------------------
  id_cliente  monto
0      01234  109.5
1      01235   25.6
2      01238  110.8
3      01236  125.6
4      01239   25.6
5      01231   75.2
6      01232   25.6
7      01222   41.4
--------------------------
  id_evento  monto
0     11111  377.7
1     11112  161.6
--------------------------